// General
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
.DS_Store

// Files
npm-debug.log
config.js

// Directories
node_modules
bower_modules
build
.c9revisions

// Directory Contents
public/**
build/**
.sass-cache/**
