!!! 5
html
	head
		title TumbRider
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet", href="/stylesheets/appjs.css")
		link(rel="stylesheet", href="/stylesheets/tumbrider.css")
	body
		.app-page(data-page="login")
			.app-topbar
				.app-title TumbRider
			.app-content
				.app-section
					.app-button(data-target="to-tumblr") Login with Tumblr
		.app-page(data-page="logout")
			.app-topbar
				.app-title TumbRider
			.app-content
				.app-section
					.app-input Logout......
		.app-page(data-page="to-tumblr")
			.app-topbar
				.app-title Redirecting to Tumblr
			.app-content
				ul.app-list.app-section
					li If not going anywhere, <a href="/auth/tumblr">click here</a>.
		.app-page(data-page="dashboard")
			.app-topbar
				.app-button.left(data-target="logout") Logout
				.app-title TumbRider
			.app-content
				ul.app-list.app-section
					li Welcome, <span id="welcome-username"></span>.
		.app-page(data-page="detail")
			.app-topbar
				.app-button.left(data-back="true") Back
				.app-title TumbRider
				.app-button.right Kik
			.app-content
				ul.app-list
					li.tumb-image: img(src="http://24.media.tumblr.com/d19ae8eaa1a69f50777ed570e72e5b68/tumblr_moh7nv60AR1qafe19o1_1280.jpg", style="width:100%;")
					label Actions
					li: .app-button Like
					li: .app-button Reblog
					li: .app-button Bookmark
		// Underscore Templates
		script(type="text/html", id="photos-block").
			<ul class="app-section">
				<%
					console.log(photos);
					_.each(photos, function(photo, key, list) {
						console.log(photo);
						var photo_url = photo.original_size.url;
				%>
					<li class="app-button tumb-image" data-target="detail">
						<img src="<%= photo_url %>", style="width:100%;" />
					</li>
				<% }); %>

			</ul>
		// JavaScripts
		script!= javascript
		script(src="/scripts/zepto.js")
		script(src="/scripts/appjs.js")
		script(src="/scripts/underscore.js")
		script(src="/scripts/tumbrider.js")
