head
	meta(charset='utf-8')
	meta(name='viewpoint', content='width=device=width')
	title= title
	link(rel='stylesheet', href='/stylesheets/normalize.css')
	link(rel='stylesheet', href='/stylesheets/foundation.css')
	link(rel='stylesheet', href='/stylesheets/tumbrider.css')
	script(src='/scripts/custom.modernizr.js')
